*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: "Lexand Deca",sans-serif;
    font-size: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
 
:root{
    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --darker-cyan:hsl(179, 100%, 13%);
    --text-white: hsla(0, 0%, 100%, 0.75);
    --light-gray:hsl(0, 0%, 95%);
}

.column-preview-cards{
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sedans-card{
    background-color:var(--bright-orange);
    padding: 5rem 4rem;
}


.suvs-card{
    background-color: var(--dark-cyan);
    padding: 5rem 4rem;
}


.luxury-card{
    background-color: var(--darker-cyan);
    padding: 5rem 4rem;
}

img{
    margin-bottom: 3rem;
    cursor: pointer;
}

h1{
    font-family: "Big Shoulders",sans-serif;
    font-size: 3.2em;
    color: var(--light-gray);
    margin-bottom: 3rem;
}

p{
    
    color: var(--text-white);
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 4rem;
}

button{
    border: none;
    cursor: pointer;
    padding: 1.6rem 3rem;
    border-radius:3rem;
    font-size:1.5em;
    transition: 0.5s ease-in;
}

.sedan-btn{
    color: var(--bright-orange);
}

.sedan-btn:hover{
    background-color: var(--bright-orange);
    color: var(--light-gray);
    border: 0.3rem solid var(--light-gray);
    font-weight: 700;
}

.suvs-btn{
    color: var(--dark-cyan);
}

.suvs-btn:hover{
    background-color: var(--dark-cyan);
    color: var(--light-gray);
    border: 0.3rem solid var(--light-gray);
    font-weight: 700;
}

.luxury-btn{
    color: var(--darker-cyan);
}

.luxury-btn:hover{
    background-color: var(--darker-cyan);
    color: var(--light-gray);
    border: 0.3rem solid var(--light-gray);
    font-weight: 700;
}


.attribution{
    text-align: center;
    font-size: 1.5em;
}

.attribution a{
    text-decoration: none;
}


@media screen and (max-width:840px){
    body{
        padding: 0 2rem;
    }
 
    .sedans-card,.suvs-card,.luxury-card{
        padding: 4rem 3rem;
    }
}

@media screen and (max-width:760px){
    body{
        padding: 5rem 2rem;
        height: 100%;
    }
    .column-preview-cards{
        flex-direction: column;
    }

    .sedans-card,.suvs-card,.luxury-card{
        padding:7rem 5rem;
    }
}
 
